* {
            margin: 0;
            box-sizing: border-box;
        }
        body {
            line-height: 1.5;
            font-size: 16px;

        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 32px;
        }
        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .flex1 {
            flex: 0 1 45%;
        }
        .align-items {
            align-items: flex-start;
        }

        /* Header */
        .header {
            padding: 16px 0;
            background-color: #ffffff;
            position: fixed;
            top: 0;
            width: 100%;
            vertical-align: baseline;
        }
        .header {
            display: block;
        }
        .brand {
            font-size:36px;
            font-weight: 700;
            font-family: 'DM Serif Display', serif;
            color: #2d2640;
            text-decoration: none;
        }
        .brand1 {
            font-size:36px;
            font-weight: 700;
            font-family: 'DM Serif Display', serif;
            color: #000000;
            text-decoration: none;
        }
        .nav a {
            font-size: 20px;
            margin-left: 32px;
            color: #6e6b74;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
            font-family: 'Karla', sans-serif;
            
        }

        /* Button */
        .btn {
            padding: 12px 18px;
            color: #6e6b74;
            border: 1px solid #6e6b74;
            border-radius: 3px;
            display: inline-block;
            font-size: 20px;
            font-weight: 700;
            font-family: 'Karla', sans-serif;

        }
        .btn:hover {
            background-color: #2C2641;
            color: #ffffff;
        }
        .btn-second {
            border-color: #ffffff;
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: none;
        }
        .btn-second:hover {
            background-color: #ffffff;
            color: #2C2641;
        }
        .btn-third {
            color: #6e6b74;
            text-transform: uppercase;
            text-decoration: none;
        }

        /* Sections */
        /* FIRST */
        .first {
            background-color: #2d2640;
            padding: 60px 0;
            color: #ffffff;
            margin-top: 88px;
        }
        .line {
            width: 200px;
            height: 2px;
            background-color: #bcb8c4;
        }
        .first-heading {
            font-size: 56px;
            margin-top: 16px;
            line-height: 1.1;
        }
        .first-text {
            color: #bcb8c4;
            margin: 32px 0;
            font-size: 18px;
            font-family: 'DM Sans', sans-serif;
        }
        .first-img {
            margin-bottom: -160px;
        }
        .img {
            width: 100%;
        }

        /* SECOND */
        .second {
            margin-top: 80px;
        }
        .padding{
            padding: 80px 0;
        }
        .margin {
            margin-top: 80px;
        }
        .second-heading {
            font-size:48px;
            color: #2d2640;
            font-family: 'DM Serif Display ', serif;
        }
        .second-text {
            color: #6e6b74;
            margin: 32px 0;
            font-size: 18px;
            font-family: 'DM Sans', sans-serif;
        }

        /* THIRD */
        .third {
            background-color: #2d2640;
            padding: 80px 60px;
        }
        .feature {
            margin-bottom: 40px;
        }
        .feature-h3 {
            font-size: 32px;
            color: #2d2640;
            text-transform: capitalize;
            margin: 24px 0 8px 0;
            font-family: "DM Serif Display", serif;
        }
        .flex2 {
            flex: 0 1 30%; 
        }
        .icon {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #8ab4f0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .third-text {
            color: #6e6b74;
            margin: 32px 0;
            font-size: 16px;
            font-family: 'DM Sans', sans-serif;
        }

        /* LAST SECTION */
        .heading-h3 {
            font-size: 44px;
            margin-top: 16px;
            line-height: 1.1;
            color: #ffffff;
        }

        /* FOOTER */
        .footer {
            margin-top: 60px;
            font-family: 'Karla', sans-serif;

        }
        .border {
            border-bottom: 1px solid #6e6b74;
        }
        .footer.a {
            font-size: 24px;
        }
        .footer-nav {
            text-align: center;
            padding: 24px 0;
        }
        .copyright-info {
            text-align: center;
            background-color: #2d2640;
            color: #cbc0c9;
            font-size: 20px;
            padding: 32px 0;
        }
        .facebook-twitter {
            font-size: 26px;
        }
        .hover:hover {
            color: #2d2640;
        }
            