* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.5;
    background-color: #E0E5EC;
}
a {
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.container {
    padding: 20px 32px;
}

/* HEADER */
.header {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(Cafe3.jpeg) center/cover no-repeat;
    background-attachment: fixed;
}
.nav a {
    padding: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #f8f9fa;
    font-weight: 500;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heading h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: #ffffff ;
    letter-spacing: 4px;
    margin-top: 15%;
}
.heading h3 {
 display: flex;
 justify-content: center;
 margin-top: 30px;
 font-size: 35px;
 color: #ffffff;
 letter-spacing: 4px;
}

/* SECTIONS */
/* FIRST */
.container2 {
    position: relative;
    width: 50%;
    text-align: center;
    padding: 50px;
}
.first {
    letter-spacing: 7px;
    text-transform: uppercase;
    align-items: baseline;
    font-size: 16px;
    color: #bd1220;
    padding: 20px;
}
.first_h {
    padding: 10px;
    margin: 10px 0;
    
}
.container2:hover {
    background:#52080e;
    opacity: 1.2;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}


